@use "variables.scss" as variables;


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: map-get(variables.$colores, Magnolia );
    font-family: map-get(variables.$fuentes , ubuntu );
}

/* Header del formulario */

.form-header {
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    min-height: 17.2rem;
    display: flex;
    justify-content: center;
    background-size: cover;
 

    ul {

        list-style: none;
        display: flex;
        gap: 1.5rem;
       align-items: start;
        padding: 0;
        margin-top: 3rem;
     
    }

    &__item {
            border: 1px solid white;
            border-radius: 50%;
            font-size: 1.4rem;
            padding: .5rem 1.2rem;
            background-color: transparent;
            color: white;
            font-weight: 700;
            
        &.color{
            background-color: map-get(variables.$colores ,  Light-blue);
        }
    }
}


/*Body del formulario*/

.form-body {
    background-color: white;
    margin: 0rem 2rem;
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    top: 10rem;

    &__title {
        font-size: 2.3rem;
    }

    &__desc {
        font-size: 1.6rem;
        color: map-get(variables.$colores ,  Cool-gray);
    }

    &__label {
        display: block;
        font-size: 1.4rem;
        color: map-get(variables.$colores ,  Marine-blue);
        font-weight: 500;
        margin: 1rem 0rem;

        

        &--addons {
            display: grid;
            grid-template-columns: 1fr 6fr 1fr;
            background-color: map-get(variables.$colores ,  Magnolia);
            border: 1px solid map-get(variables.$colores ,  Purplish-blue) ;
            border-radius: .7rem;
            padding: 1.2rem;
            font-weight: 700;
            align-items: center;
            gap: 0 1rem;
         
       
      

            span {
                color: map-get(variables.$colores ,  Cool-gray);
                font-weight: 400;
                font-size: 1.3rem;
                grid-row: 2/3;
                

                &:nth-child(2){
                    color: map-get(variables.$colores ,  Purplish-blue);
                    font-weight: 500;
                    grid-row: 1/3;
                }
            }
        }
    }

    &__input {
        display: block;
        border: 1px solid map-get(variables.$colores ,  Light-gray);
        padding: .7rem 1.2rem;
        border-radius: .5rem;
        font-weight: 500;
        width: 100%;

        &:focus {
            outline: 1px solid map-get(variables.$colores ,  Purplish-blue);
        }

        &--addons {
          grid-column: 1/2;
          grid-row: 1/3;
          border-radius: .5rem;
          padding: 0;
          -webkit-appearance: none;
          width: 2rem;
          height: 2rem;
          outline: 0;
          flex-grow: 0;
          vertical-align: middle;
          border: 1px solid map-get(variables.$colores ,  Light-gray);
          background-color: #FFFFFF;
          transition: background 300ms;
          cursor: pointer;
            
          &:focus {
            outline: none;
          }

          &:checked{
            background-color: map-get(variables.$colores ,  Purplish-blue);
            color: white;

       
                box-shadow: none;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
          
          }
        }
    }

    &__article {
        display: flex;
        gap: 2rem;
        border: 1px solid map-get(variables.$colores ,  Light-gray);
        border-radius: .7rem;
        padding: 1rem;
        margin: 1rem 0rem;

        h3 {
            font-size: 1.6rem;
            color: map-get(variables.$colores ,  Marine-blue);
            font-weight: 700;
        }

        &.check{
            border: 2px solid #0F1C2E;
        }

    }

    &__price {
        font-size: 1.4rem;
        color: map-get(variables.$colores ,  Cool-gray);
        font-weight: 500;

        span {
            display: block;
            color: map-get(variables.$colores ,  Marine-blue);
            font-size: 1.3rem;
        }
    }



    &__resume {
        background-color: map-get(variables.$colores , Alabaster);
        border-radius: .7rem;
        padding: 1.5rem;
        color: map-get(variables.$colores ,  Cool-gray);
        font-weight: 500;
        margin: 1.5rem 0rem;
        font-size: 1.4rem;
    }

    &__add {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        &--total{
            padding-top: 1rem;
            border-top: 1px solid map-get(variables.$colores ,  Light-gray);;
        }

        .form-body__resumeP {
           

            :nth-child(2){
                color: map-get(variables.$colores ,  Marine-blue);
                font-weight: 500;
            }
        }

        &.desactive{
            display: none;
        }

        &:nth-child(1) {
            padding-bottom: 1rem;
          
            border-bottom: 1px solid map-get(variables.$colores ,  Light-gray);

            .form-body__resumeP{
          
                    color: map-get(variables.$colores ,  Marine-blue);
                    font-weight: 700;
               
            }
        }

       

     
        
        
    }

   

    &__data{
       
        padding: 0rem 1rem;

        p{
            color: map-get(variables.$colores ,  Cool-gray);
            font-size: 1.4rem;
            font-weight: 500;
            span {
                color: map-get(variables.$colores ,  Marine-blue);
            }
        }
      
    }
}

.active {
    display : block;
}

.desactive {
    display: none;
}



.plan-time {
    display: flex;
    background-color: map-get(variables.$colores ,  Alabaster);
    justify-content: center;
    margin: 3rem auto 1rem;
    width: 100%;
    padding: 1.5rem ;
    gap: 2rem;
    border-radius: .7rem;
    &__p:nth-child(1) {
        font-size: 1.5rem;
        font-weight: 500;
        color: map-get(variables.$colores ,  Marine-blue);
    }

    &__p:nth-child(3) {
        font-size: 1.5rem;
        font-weight: 500;
        color: map-get(variables.$colores ,  Cool-gray);
    }


    &__btn {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0rem .5rem;
        background-color: map-get(variables.$colores ,  Marine-blue);
        width: 4rem;
        border-radius: 5rem;
        cursor: pointer;
    }

    &__circle {
        color: white;
        font-size: 1.2rem;
        transform: translateX(-4px);
        transition: all .5s ease;
    }

    &__circle.trans{
        transform: translateX(14px);
    }
}
/* Footer del formulario */

.form-footer {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 1rem;

    &__btn-next {
        background-color: map-get(variables.$colores , Marine-blue );
        border: none;
        border-radius: .5rem;
        color: map-get(variables.$colores ,  Alabaster);
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0 0 0 auto;
    }

    &__btn-back {

        border: none;
        border-radius: .5rem;
        color: map-get(variables.$colores ,  Cool-gray);
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        align-self: start;
        background-color: white;
    }
}


.now {
    display: none;
}

.visible {
    color: map-get(variables.$colores ,  Marine-blue);
}