@use "variables.scss" as variables;


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: map-get(variables.$colores, Magnolia );
    font-family: map-get(variables.$fuentes , ubuntu );
}




/* Header del formulario */

.form-header {
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    min-height: 17.2rem;
    display: flex;
    justify-content: center;
    background-size: cover;
 

    ul {

        list-style: none;
        display: flex;
        gap: 1.5rem;
       align-items: start;
        padding: 0;
        margin-top: 3rem;
     
    }

    &__item {
            border: none;
            border-radius: 50%;
            font-size: 1.4rem;
            padding: .5rem 1.2rem;
            background-color: transparent;
            color: white;
            font-weight: 700;
            border: 1px solid white;
            
        &.color{
            background-color: map-get(variables.$colores ,  Light-blue);
            border: 1px solid hsl(206, 94%, 87%);
        }
    }
}


/*Body del formulario*/

main {
    .active{
        display: flex;
        justify-content: center;
    }
}

.form-body {
    background-color: white;
    margin: 0rem 2rem;
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    top: 10rem;
    max-width: 38rem;

    &__title {
        font-size: 2.3rem;
    }

    &__desc {
        font-size: 1.6rem;
        color: map-get(variables.$colores ,  Cool-gray);
    }

    &__label {
        display: block;
        font-size: 1.4rem;
        color: map-get(variables.$colores ,  Marine-blue);
        font-weight: 500;
        margin: 1rem 0rem;

        

        &--addons {
            display: grid;
            grid-template-columns: 1fr 6fr 1fr;
            background-color: white;
            border: 1px solid map-get(variables.$colores ,  Light-gray) ;
            border-radius: .7rem;
            padding: 1.2rem;
            font-weight: 700;
            align-items: center;
            gap: 0 1rem;
         
       &.checked {
        background-color: map-get(variables.$colores ,  Magnolia);
        border: 1px solid map-get(variables.$colores ,  Purplish-blue) ;
       }
      

            span {
                color: map-get(variables.$colores ,  Cool-gray);
                font-weight: 400;
                font-size: 1.3rem;
                grid-row: 2/3;
                

                &:nth-child(2){
                    color: map-get(variables.$colores ,  Purplish-blue);
                    font-weight: 500;
                    grid-row: 1/3;
                }
            }
        }
    }

    &__input {
        display: block;
        border: 1px solid map-get(variables.$colores ,  Light-gray);
        padding: .7rem 1.2rem;
        border-radius: .5rem;
        font-weight: 500;
        width: 100%;

        &:focus {
            outline: 2px solid map-get(variables.$colores ,  Purplish-blue);
        }

        &--addons {
          grid-column: 1/2;
          grid-row: 1/3;
          border-radius: .5rem;
          padding: 0;
          -webkit-appearance: none;
          width: 2rem;
          height: 2rem;
          outline: 0;
          flex-grow: 0;
          vertical-align: middle;
          border: 1px solid map-get(variables.$colores ,  Light-gray);
          background-color: #FFFFFF;
          transition: background 300ms;
          cursor: pointer;
            
          &:focus {
            outline: none;
          }

          &:checked{
            background-color: map-get(variables.$colores ,  Purplish-blue);
            color: white;

       
                box-shadow: none;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
          
          }
        }
    }

    &__article {
        display: flex;
        gap: 2rem;
        border: 1px solid map-get(variables.$colores ,  Light-gray);
        border-radius: .7rem;
        padding: 1rem;
        margin: 1rem 0rem;
        &:hover{
            cursor: pointer;
        }

        h3 {
            font-size: 1.6rem;
            color: map-get(variables.$colores ,  Marine-blue);
            font-weight: 700;
        }

        &.check{
            border: 2px solid  map-get(variables.$colores ,  Purplish-blue);
            background-color: map-get(variables.$colores ,  Alabaster);
        }

    }

    &__price {
        font-size: 1.4rem;
        color: map-get(variables.$colores ,  Cool-gray);
        font-weight: 500;

        span {
            display: block;
            color: map-get(variables.$colores ,  Marine-blue);
            font-size: 1.3rem;
        }
    }



    &__resume {
        background-color: map-get(variables.$colores , Alabaster);
        border-radius: .7rem;
        padding: 1.5rem;
        color: map-get(variables.$colores ,  Cool-gray);
        font-weight: 500;
        margin: 1.5rem 0rem;
        font-size: 1.4rem;
    }

    &__add {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        &--total{
            padding-top: 1rem;
            border-top: 1px solid map-get(variables.$colores ,  Light-gray);;
        }

        .form-body__resumeP {
           

            :nth-child(2){
                color: map-get(variables.$colores ,  Marine-blue);
                font-weight: 500;
            }
        }

        &.desactive{
            display: none;
        }

        &:nth-child(1) {
            padding-bottom: 1rem;
          
            border-bottom: 1px solid map-get(variables.$colores ,  Light-gray);

            .form-body__resumeP{
          
                    color: map-get(variables.$colores ,  Marine-blue);
                    font-weight: 700;
               
            }
        }

       

     
        
        
    }

   

    &__data{
       
        padding: 0rem 1rem;

        p{
            color: map-get(variables.$colores ,  Cool-gray);
            font-size: 1.4rem;
            font-weight: 500;
            span {
                color: map-get(variables.$colores ,  Marine-blue);
            }
        }
      
    }
}

.active {
    display : flex;
    justify-content: center;
}

.desactive {
    display: none;
}



.plan-time {
    display: flex;
    background-color: map-get(variables.$colores ,  Alabaster);
    justify-content: center;
    margin: 3rem auto 1rem;
    width: 100%;
    padding: 1.5rem ;
    gap: 2rem;
    border-radius: .7rem;
    &__p:nth-child(1) {
        font-size: 1.5rem;
        font-weight: 500;
        color: map-get(variables.$colores ,  Marine-blue);
    }

    &__p:nth-child(3) {
        font-size: 1.5rem;
        font-weight: 500;
        color: map-get(variables.$colores ,  Cool-gray);
    }


    &__btn {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0rem .5rem;
        background-color: map-get(variables.$colores ,  Marine-blue);
        width: 4rem;
        border-radius: 5rem;
        cursor: pointer;
    }

    &__circle {
        color: white;
        font-size: 1.2rem;
        transform: translateX(-4px);
        transition: all .5s ease;
    }

    &__circle.trans{
        transform: translateX(14px);
    }
}
/* Footer del formulario */

.form-footer {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 1rem;

    &__btn-next {
        background-color: map-get(variables.$colores , Marine-blue );
        border: none;
        border-radius: .5rem;
        color: map-get(variables.$colores ,  Alabaster);
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0 0 0 auto;

        &:hover{
            cursor: pointer;
        }
    }

    &__btn-back {

        border: none;
        border-radius: .5rem;
        color: map-get(variables.$colores ,  Cool-gray);
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        align-self: start;
        background-color: white;
        cursor: pointer;
    }
}


.now {
    display: none;
}

.visible {
    color: map-get(variables.$colores ,  Marine-blue);
}

.errorDesactive {
    display: none;
}

.error{
    margin: 0rem .5rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: map-get(variables.$colores , Strawberry-red );
}


.confirm {
    position: absolute;
    top: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 3rem;
   display: flex;
   flex-direction: column;
   

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: map-get(variables.$colores , Alabaster );
        padding: 2rem;
        height: 100%;
        border-radius: .7rem;
        text-align: center;
    }

    h2 {
        font-weight: 700;
        font-size: 2rem;
    }

    p{
        font-weight: 500;
        font-size: 1.5rem;
        color : map-get(variables.$colores , Cool-gray );

        span {
            color : map-get(variables.$colores , Purplish-blue);
            font-weight: 500;
        }
    }
    img {
        width: 12rem;
        padding: 1rem;
        background-color: white;
        margin: 2rem 0rem;
        border-radius: 50%;
    }
}

@media (min-width: 1024px) { 
  

    body{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .container{
        flex-direction: row;
        justify-content: start;
        align-items: center;
      overflow-x: hidden;
        width: 50%;
        max-width: 1600px;
        max-height: 800px;
      min-width: 800px;
      margin: 8rem auto;
      background-color: white;
      box-shadow: 0px 0px 5px 1px rgb(163, 154, 154);
      border-radius: 2rem;

    }

    #main{
        width: 100%;
        height: 100%;
    }

    .form-header{
        width: 25rem;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: 2rem 0rem 0rem 2rem;
      
        ul{
            display: block;
            li{
                margin: 4rem;
                font-size: 2rem;
                padding: 1.2rem 2rem;
            }
        }
    }

    .form-body{
        position: static;
        max-width: 600px;
        width: 100%;
        align-self: center;
        margin: auto;
  
    }

    .active{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }



    .confirm {
        position: static;

        background-color: white;
        width: 100%;
        height: 100%;
        padding: 0rem;
       display: flex;
       flex-direction: column;
       
       div{
        border-radius: 0rem 2rem 2rem 0rem;
       }
  
    }
}




@media (min-width: 2000px) { 
    html{
        font-size: 13px;
    }
}